@using Staj_Proje.Models
@model Tuple<BusRouteModel, MapModel>
@{
    ViewBag.Title = "DriverOperations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Sürücü Kayıt Ekranı-->

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Sürücü Kayıt</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Map/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Driver Operations</span></li>
                <li><span>Sürücü Kayıt</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        <!--<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>-->
                    </div>

                    <h2 class="panel-title">Sürücü Kayıt Sayfası</h2>
                </header>
                
                <div class="panel-body">
                    <form action="@Url.Action("DriverOperations","Map")" class="form-horizontal form-bordered driver-form" method="post">
                        <!--TC Kimlik No-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">TC Kimlik No</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control onlyNumber" id="TC" name="TC" required maxlength="11">
                            </div>
                        </div>
                        <!--Name-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control onlyText" placeholder="Your Name" id="Name" name="Name" required>
                            </div>
                        </div>
                        <!--Surname-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Surname</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control onlyText" placeholder="Your Surname" id="Surname" name="Surname" required>
                            </div>
                        </div>
                        <!--Hat Numarası Combobox-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputSuccess">Bus Number:</label>
                            <div class="col-md-6">
                                <select class="form-control mb-md" id="Bus_Selection" name="Bus_Selection" required>
                                    <option></option>
                                    @foreach(var info in Model.Item1.busNumbersComboBoxDoldur)
                                    {
                                        <option value="@info">@info</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--Send_Button-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder"></label>
                            <div class="col-md-6">
                                <input type="button" class="form-control btn btn-primary" name="Send_Button" id="Send_Button" value="Kaydet">
                            </div>
                        </div>
                        <!--Error Mesajları-->
                        <div id="error"></div>
                    </form>


                    <ul>
                        @foreach (var item in Model.Item2.error)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </section>        
         </div>
       </div>
    <!-- end: page -->
</section>



